body{
	background-image: url("./images/galaxy-background.jpg");
}
h3{
	text-align: center;
}
#hero img{
	height:400%;
	width:100%;
	background-size:cover;
	

}
img{
	height:150px;
	width:150px;
	margin-top:15px;
	
}